# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!

# fix jinja because of https://github.com/jupyter/nbconvert/issues/1736
furo
jinja2==3.0.3
nbsphinx
nbsphinx-link
sc3nb
sphinx>=3.2.1
